html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body, html
{
  font-family:$regular;
  box-sizing:border-box;
}

body
{
  margin:0;
}

*
{
  box-sizing: border-box;
}

#crust-admin {
  flex: 1 1 0;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
}

.content {
  flex: 1 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.header-subtitle {
  font-size:14px;
  text-transform: uppercase;
}
.header-row {
  line-height: 34px;
}
.header-row-search {
  min-width:200px;
}

@keyframes flickerAnimation {
  0% { opacity: 0.6; }
  50% { opacity: 0.1; }
  100% { opacity: 0.6; }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0.7;
  animation: flickerAnimation 3s infinite;
  background-image: url($logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
}
