[dir] {
  margin: 0;
  background-color: $body-bg;
}

[dir="rtl"] {
  text-align: right;

  .fa-angle-left,
  .fa-angle-right,
  .fa-angle-double-left,
  .fa-angle-double-right {
    transform: rotate(180deg);
  }
}
