// @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600&display=swap');

[dir="rtl"] {
  margin: 0;
  text-align: right;
  background-color: #f3f3f5;

  .fa-angle-left,
  .fa-angle-right,
  .fa-angle-double-left,
  .fa-angle-double-right {
    transform: rotate(180deg);
  }
}
