$logo: '/images/logo.png' !default;

// Paths
$fonts_dir : './fonts/' !default;

// Typography
$regular: 'nunito_sansregular' !default;
$bold: 'nunito_sansbold' !default;
$semibold: 'nunito_sanssemibold' !default;
$font-size-base: 1rem !default;

$font-family-base:      $regular !default;
$headings-font-family:  $semibold !default;

// Color system
$white:         #fff !default;
$black:         #000 !default;
$primary:       #4D7281 !default;
$secondary:     #90A3B1 !default;
$success:       #719430 !default;
$warning:       #F5D380 !default;
$danger:        #E54122 !default;
$light:         #E4E9EF !default;
$dark:          #1e2224 !default;

$gray-200:      #F3F3F5 !default;

$sidebar-width: 200px !default;

// Options
$enable-rounded:   true !default;
$enable-responsive-font-sizes: true !default;

// Body
$body-bg: $gray-200 !default;

// Card
$card-border-radius: 1rem !default;
$card-border-width:  0 !default;
$card-cap-bg:        $gray-200 !default;

// Tables
$table-head-bg:       $gray-200 !default;
$table-hover-bg:       $gray-200 !default;

// Buttons
$btn-font-size: $font-size-base !default;
$btn-padding-y: 0.25em !default;
$btn-padding-x: 1em !default;

$btn-focus-width:       0 !default;
$btn-focus-box-shadow:  none !default;
$btn-active-box-shadow: none !default;

$btn-font-size-lg:  16px !default;
$btn-font-family:   $semibold !default;

// Pagination
$pagination-color:        $dark !default;
$pagination-disabled-bg:  transparent !default;
$pagination-bg:           transparent !default;
$pagination-active-bg:    $dark !default;
$pagination-border-width: 0 !default;

// Forms
$input-font-size: $font-size-base !default;

$input-border-color:  $light !default;
$input-border-width:  2px !default;

$input-btn-focus-width:     0 !default;
$input-focus-box-shadow:    none !default;
$input-focus-border-color:  $primary !default;

/* stylelint-disable */
:export {
  primary: $primary;
  danger: $danger;
  secondary: $secondary;
}
/* stylelint-enable */
