$logo: '/images/logo.png' !default;

// Paths
$fonts_dir : './fonts/' !default;

// Typography
$regular: 'nunito_sansregular' !default;
$bold: 'nunito_sansbold' !default;
$semibold: 'nunito_sanssemibold' !default;
$font-size-base: 1rem !default;

$font-family-base:      $regular !default;
$headings-font-family:  $semibold !default;

// Color system
$white:         #fff !default;
$black:         #000 !default;
$primary:       #4D7281 !default;
$secondary:     #90A3B1 !default;
$success:       #719430 !default;
$warning:       #F5D380 !default;
$danger:        #E85568 !default;
$light:         #E4E9EF !default;
$dark:          #1e2224 !default;
$background:     #F3F3F5;

$sidebar-width: 200px !default;

// Options
$enable-rounded:   true !default;
$enable-responsive-font-sizes: true !default;

// Body
$body-bg: $background !default;

// Card
$card-border-radius: 1rem !default;
$card-border-width:  0;
$card-cap-bg:        $background;

// Tables
$table-head-bg:       $background;

// Pagination
$pagination-color:        $dark;
$pagination-disabled-bg:  transparent;
$pagination-bg:           transparent;
$pagination-active-bg:    $dark;
$pagination-border-width: 0;

// Forms
$input-font-size: $font-size-base !default;

$input-border-color:  $light !default;
$input-border-width:  2px !default;

$input-btn-focus-width:     0 !default;
$input-focus-box-shadow:    none !default;
$input-focus-border-color:  $primary !default;

/* stylelint-disable */
:export {
  primary: $primary;
  danger: $danger;
  secondary: $secondary;
}
/* stylelint-enable */
