.form-group {
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 15px;
  &-text {
    border-radius: 0;
  }
}

.form-control {
  border-radius: 0;
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $appblue;
  }
}

.short {
  .form-group {
    margin-bottom: 0;
  }
}
