/* Import bootstrap styles from npm package */
@import '~bootstrap/scss/bootstrap.scss';
@import './btns';
@import './forms';

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body, html
{
  font-size:12px;
  font-family:$regular;
  box-sizing:border-box;
}

body
{
  margin:0;
}

*
{
  box-sizing: border-box;
}

#crust-admin {
  flex: 1 1 0;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: $white;
  border-bottom: 1px solid $light;
  padding: 1em;
}
.content {
  flex: 1 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.header-subtitle {
	font-size:14px;
	text-transform: uppercase;
}
.header-row {
	line-height: 34px;
}
.header-row-search {
	min-width:200px;
}
.custom-select {
	border: none;
	-webkit-appearance: none;
  -moz-appearance: none;
	appearance: none;
	padding:0 25px 0 0;
}
.search-input {
	border:none;
	padding:5px 0 5px 5px;
	margin:0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	line-height: 22px;
}
.search-button {
	border:none;
	padding:5px 5px 5px 2px;
	margin:0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	line-height: 22px;
}
.table-avatar {
	padding:5px 5px 1px 1px;
	vertical-align: top;
	text-align: center;
	width: 50px;
}
.table-avatar img {
	border-radius: 50%;
}
.table-details {
	vertical-align: top;
	padding: 5px;
}
